append css
	style.

		}
		

nav.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand.logo(href="#") Gnar Surf
		.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href="#") Home
				li
					a(href="#about") Shop
				li
					a(href="#contact") Contact
.container
	.starter-template
		h1.welcome Welcome to Gnar!
		p.lead
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At enim ad.

